.full-width
{
    width: 100%;
}
.mat-card
{
    background-image:linear-gradient(to right,rgb(205, 86, 86),rgb(213, 213, 58));
    margin-left: 30px;
}
.bg {
    background-image: url("../../../assets/bgfinal.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .container1{
    position: absolute;
    text-align: center;
 }