<app-navbar></app-navbar>
<div class="bg">
<div class="container">
<div >
    <br>
    <br>
    <h1>
        <b>Welcome to online quiz</b>
     </h1>
     <br>
    <mat-card class="container1">
        <mat-card-header>
            <h1><b>Our Numbers</b></h1>
        </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h4>{{users}}</h4>
            <p>No.of.users</p>
        </div>
        <div class="col-md-4">
            <h4>{{categories}}</h4>
            <p>No.of.categories</p>
        </div>
        <div class="col-md-4">
            <h4>{{quizzes}}</h4>
            <p>No.of.quizzes</p>
        </div>
    </div>
    </mat-card>
</div>
</div>
</div>
